<!DOCTYPE html>
{% load staticfiles %}
<html>
	<head>
	    <meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link href="{% static "bootstrap/css/bootstrap.css" %}" rel="stylesheet" media="screen">
	    <link href="{% static "css/index.css" %}" rel="stylesheet">
		{% block extraheaders %} {% endblock %}
		<title> {% block title %} {% endblock %} </title>
	</head>
	<body>
		<table id="banner">
			<tr>
				<td><img src="{% static "img/BANNER.png" %}"/></td>
			</tr>
		</table>
		<div class="borders">
			<div class="nav">
				<nav class="cl-effect-3" id="cl-effect-3">
					<a href="/">ADD CLASSES</a>
					<a href="/">FINAL SCHEDULE</a>
					<a href="/">INPUT DARS</a>
				</nav>
			</div>
		{% block content %} {% endblock %}
		{% block extrajs %} {% endblock %}
		</div>

		<div id="footer-banner"></div>
		<div id="footer">
			<div class="container">
				<ul>
					<li><a href="/" class="text-muted text-spacing">THE TEAM</a></li>
					<li><a href="/" class="text-muted text-spacing">CONTACT</a></li>
					<li><a href="/" class="text-muted text-spacing">SCHEDULIZER &copy;</a></li>
				</ul>
			</div>
		</div>

		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
		<script src="bootstrap/js/bootstrap.min.js"></script>
	</body>
</html>
